# Dependencies
node_modules/
test-dumps/
original-dumps-save/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dummy-inserts/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build output
dist/
build/